# =============================
# ENV (SECRET 🔐)
# =============================
.env

# =============================
# PYTHON
# =============================
__pycache__/
*.pyc

# =============================
# DATABASE (LOCAL ONLY)
# =============================
chroma_db/

# =============================
# NODE / REACT
# =============================
node_modules/
build/
dist/

# =============================
# LOGS
# =============================
*.log

# =============================
# OS
# =============================
.DS_Store
Thumbs.db